<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFS Upload</title>
</head>
<body>
    <h1>Upload File to IPFS</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label>UploadFile</label>
        <input type="file" name="file">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>