<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFS - Uploaded</title>
</head>
<body>
    <h1>File successfully uploaded!</h1>
    <p>See online: <a href="https://ipfs.io/ipfs/<%= hOfFile %>"><%= hOfFile %></a></p>
</body>
</html>